<app-navbar-company></app-navbar-company>
<div class="container my-3">
  <div class="card-body">
    <form [formGroup]="editForm" name="editForm" novalidate role="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Job Title:</label>
            <input type="text" formControlName="jobTitle" class="form-control">
          </div>
          <div class="form-group">
            <label>Vacancy:</label>
            <input type="number" formControlName="vacancy" class="form-control">
          </div>
          <div class="form-group">
            <label>Required Skill:</label>
            <select formControlName="requiredSkill" class="form-control">
              <option *ngFor="let skillType of skillTypeValues" [value]="skillType.toUpperCase()">{{ skillType.replace('_', ' ') }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Job Type:</label>
            <select formControlName="jobType" class="form-control">
              <option *ngFor="let jobType of jobTypeValues" [value]="jobType.toUpperCase()">{{ jobType.replace('_', ' ') }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Deadline:</label>
            <input type="date" formControlName="deadline" class="form-control">
          </div>
          <div class="form-group">
            <label>Context:</label>
            <textarea formControlName="context" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Job Responsibility:</label>
            <textarea formControlName="jobResponsibility" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Job Level:</label>
            <select formControlName="jobLevel" class="form-control">
              <option *ngFor="let jobLevel of jobLevelValues" [value]="jobLevel.toUpperCase()">{{ jobLevel.replace('_', ' ') }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Job Location:</label>
            <input type="text" formControlName="jobLocation" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Maximum Salary:</label>
            <input type="number" formControlName="maxSalary" class="form-control">
          </div>
          <div class="form-group">
            <label>Minimum Salary:</label>
            <input type="number" formControlName="minSalary" class="form-control">
          </div>
          <div class="form-group">
            <label>Salary Type:</label>
            <select formControlName="salaryType" class="form-control">
              <option *ngFor="let salaryType of salaryTypeValues" [value]="salaryType.toUpperCase()">{{ salaryType.replace('_', ' ') }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Lunch Facility:</label>
            <select formControlName="lunchFacilityType" class="form-control">
              <option *ngFor="let lunchFacilityType of lunchFacilityTypeValues" [value]="lunchFacilityType.toUpperCase()">{{ lunchFacilityType.replace('_', ' ') }}</option>
            </select>
          </div>
          <div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Salary Review:</label>
                <select formControlName="salaryReview" class="form-control">
                  <option *ngFor="let review of salaryReviewValues" [value]="review.toUpperCase()">{{ review.replace('_', ' ')}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Number of Yearly Bonus:</label>
                <input type="number" formControlName="numberOfYearlyBonus" class="form-control">
              </div>
              <div class="form-group">
                <label>Workplace:</label>
                <select formControlName="workplace" class="form-control">
                  <option *ngFor="let workplace of workplaceValues" [value]="workplace.toUpperCase()">{{ workplace.replace('_', ' ') }}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Gender:</label>
                <select formControlName="genderType" class="form-control">
                  <option *ngFor="let gender of genderTypeValues" [value]="gender.toUpperCase()">{{ gender.replace('_', ' ') }}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Age Range:</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="number" formControlName="ageMin" placeholder="Minimum Age" class="form-control">
                  </div>
                  <div class="col-md-6">
                    <input type="number" formControlName="ageMax" placeholder="Maximum Age" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Company User ID:</label>
                <input type="number" formControlName="companyUserId" class="form-control">
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row ">
        <div class="form-group ">
          <div formArrayName="companyExperiences">
            <div *ngFor="let companyExperienceGroup of companyExperienceList.controls; let i = index">
              <div [formGroupName]="i">
                <!-- Nested form fields -->
                <div class="form-group">
                  <label for="minYearsOfExperience">Min Years of Experience</label>
                  <input type="number" id="minYearsOfExperience" formControlName="minYearsOfExperience">
                </div>
                <div class="form-group">
                  <label for="maxYearsOfExperience">Max Years of Experience</label>
                  <input type="number" id="maxYearsOfExperience" formControlName="maxYearsOfExperience">
                </div>
                <div class="form-group">
                  <label for="areaOfExpertise">Area of Expertise</label>
                  <input type="text" id="areaOfExpertise" formControlName="areaOfExpertise">
                </div>
                <div class="form-group">
                  <label for="listOfSkill">List of Skill</label>
                  <input type="text" id="listOfSkill" formControlName="listOfSkill">
                </div>

                <!-- Remove company experience group button -->
                <button type="button" (click)="removeCompanyExperience(i)">Remove EXP</button>
              </div>
            </div>
            <!-- Add company experience group button -->
            <button type="button" (click)="addCompanyExperience()">Add EXP</button>
          </div>
        </div>
        </div>
      <div class="row ">
        <div class="form-group ">
          <div formArrayName="educationQualifications">
            <div *ngFor="let educationQualificationGroup of educationQualificationList.controls; let i = index">
              <div [formGroupName]="i">
                <!-- Nested form fields -->
                <div class="form-group">
                  <label for="degreeName">Degree Name</label>
                  <input type="text" id="degreeName" formControlName="degreeName">
                </div>
                <div class="form-group">
                  <label for="degreeTitle">Degree Title</label>
                  <input type="text" id="degreeTitle" formControlName="degreeTitle">
                </div>
                <div class="form-group">
                  <label for="degreeType">Degree Type</label>
                  <select id="degreeType" formControlName="degreeType">
                    <option *ngFor="let option of degreeTypeValues" [value]="option">{{ option }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="majorSubject">Major Subject</label>
                  <input type="text" id="majorSubject" formControlName="majorSubject">
                </div>

                <!-- Remove education qualification group button -->
                <button type="button" (click)="removeEducationQualification(i)">Remove Q</button>
              </div>
            </div>
            <!-- Add education qualification group button -->
            <button type="button" (click)="addEducationQualification()">Add Q</button>
          </div>


        </div>
      </div>


        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
  </div>
</div>

