<app-navbar></app-navbar>
<div class="container">
  <div class="row ">
    <h3 >Vacancy</h3>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="circular-progress">
        <div class="progress-circle filled-circle">
          <span class="progress-left"></span>
          <span class="progress-right"></span>
          <div class="progress-value">70%</div>
        </div>
        <div class="progress-label">Filled</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="circular-progress">
        <div class="progress-circle rejected-circle">
          <span class="progress-left"></span>
          <span class="progress-right"></span>
          <div class="progress-value">20%</div>
        </div>
        <div class="progress-label">Rejected</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="circular-progress">
        <div class="progress-circle pending-circle">
          <span class="progress-left"></span>
          <span class="progress-right"></span>
          <div class="progress-value">10%</div>
        </div>
        <div class="progress-label">Pending</div>
      </div>
    </div>
  </div>
</div>
