<div class="card">
  <i class="bi bi-person-circle"></i>
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="username">Email</label>
    <input type="text" id="username" name="username" [(ngModel)]="email">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="password">
    <div>
      <label for="candidate">Candidate</label>
      <input type="radio" id="candidate" name="userType" value="candidate" [(ngModel)]="userType">
      <label for="company">Company</label>
      <input type="radio" id="company" name="userType" value="company" [(ngModel)]="userType">
    </div>
    <button type="submit">Login</button>
  </form>
</div>
